section#blog-page {
  max-width: $width !important;
  h2 {
    font-size: 2rem;
  }
}
ul#blog-posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  width: 100%;
  li {
    border: 2px solid #03705178;
    padding: 1rem;
    border-radius: $border-m;
    @include card-styles;
  }
}
