/* ============ PROJECTS ============ */
/* ============ ========= ============ */
.card-project {
  box-shadow: 4px 2px 8px 0 #a98a71;
  #img-card-project {
    .myProjectSwiper {
      img {
        box-shadow: 0 0 5px 0 #ffffff;
      }
      img:hover {
        box-shadow: 0 0 5px 0 white;
      }
    }
  }
  #links-project {
    a {
      background-color: $white-0;
      color: $color-dark-2;
    }
  }
  label.project {
    background-color: $white-2;
    color: $white-0;
  }
  label.skills {
    background-color: transparent;
    color: $white-1;
    font-weight: 500;
    font-size: 15px;
  }
}
/* ============ SKILLS ============ */
/* ============ ========= ============ */
.skills-icons {
  fill: $white-2;
}
/* ============ FOOTER ============ */
/* ============ ========= ============ */
footer {
  /* box-shadow: bottom 0 0 10px 0 $white-2 ; */
  #footer-container {
    #made-by {
      .icons-made-by {
        fill: $white-1;
      }
    }
  }
}
// }
