[data-theme='dark'] {
  /* background-color: var(--black-2); */
  background: linear-gradient(45grad, #221f1a, #221f1a, #111316, #111316);

  color: var(--white-1);

  /* ============ NAV ============ */
  /* ============ ========= ============ */
  nav {
    #cv-button {
      background-color: var(--color-light-1);
      color: var(--color-dark-1);
      /*  */
      /*  */
    }
    #cv-button:hover {
      background-color: var(--color-light-0);
      /*  */
    }
    #right-nav-container {
      #inter-button {
      }
      #dark-mode-toggle {
        stroke: var(--white-1);
      }
      .nav-icons {
        stroke: inherit;
        /* stroke: var(--white-1); */
      }
    }
  }
  /* ============ HERO ============ */
  /* ============ ========= ============ */
  
  button.social-icons,
  a.social-icons {
    background-color: var(--white-1);
    color: var(--black-2);
    fill: var(--black-2);
  }
  #mail,
  #x {
    stroke: var(--black-2);
  }
  /* ============ SPACE ============ */
  /* ============ ========= ============ */
  #space {
    hr {
      background-color: #151515;
    }
    #space-icon {
      stroke: var(--white-1);
    }
  }
  /* ============ PROJECTS ============ */
  /* ============ ========= ============ */
  .card-project {
    box-shadow: 0 0 10px 0 #7c7c7c;
    #img-card-project {
      .myProjectSwiper {
        img {
          box-shadow: 0 0 5px 0 #ffffff;
        }
        img:hover {
          box-shadow: 0 0 5px 0 white;
        }
      }
    }
    #links-project {
      a {
        background-color: var(--white-0);
        color: var(--color-dark-2);
      }
    }
    label.project {
      background-color: var(--white-2);
      color: var(--white-0);
    }
    label.skills {
      background-color: transparent;
      color: var(--white-1);
      font-weight: 500;
      font-size: 15px;
    }
  }
  /* ============ SKILLS ============ */
  /* ============ ========= ============ */
  .skills-icons {
    fill: var(--white-2);
  }
  /* ============ FOOTER ============ */
  /* ============ ========= ============ */
  footer {
    /* box-shadow: bottom 0 0 10px 0 var(--white-2); */
    #footer-container {
      #made-by {
        .icons-made-by {
          fill: var(--white-1);
        }
      }
    }
  }
}
