[data-theme='light'] {
  background-color: var(--color-light-0);
  color: var(--color-dark-2);

  /* ============ NAV ============ */
  /* ============ ========= ============ */
  nav {

    #cv-button {
      background-color: var(--color-dark-2);
      color: var(--color-light-1);
      box-shadow: 0 0 10px 0 #757575;
      transition: all 0.3s ease-in-out;
    }
    #cv-button:hover {
      background-color: var(--white-2);
      transition: all 0.3s ease-in-out;
    }
    #right-nav-container {
      #inter-button {
      }
      #dark-mode-toggle {
      }
      .nav-icons {
        stroke: var(--color-dark-2);
      }
    }
  }
  /* ============ HERO ============ */
  /* ============ ========= ============ */

  button.social-icons,
  a.social-icons {
    background-color: var(--white-0);
    color: var(--black-2);
    fill: var(--black-2);
  }
  #mail,
  #x {
    stroke: var(--black-2);
  }
  /* ============ SPACE ============ */
  /* ============ ========= ============ */
  #space {
    hr {
      border: 1px solid;
    }
    #space-icon {
      stroke: var(--color-dark-2);
    }
  }
  /* ============ PROJECTS ============ */
  /* ============ ========= ============ */
  .card-project {
    box-shadow: 0 0 10px 0 #7c7c7c;
    #img-card-project {
      .myProjectSwiper {
        img {
          box-shadow: 0 0 10px 0 #7c7c7c;
        }
        img:hover {
          box-shadow: 0 0 5px 0 white;
        }
      }
    }
    #links-project {
      a {
        background-color: var(--white-0);
        color: var(--color-dark-2);
      }
      a:hover {
        box-shadow: 0 0 5px 0 var(--color-dark-2);
      }
    }
    label.project {
      background-color: var(--white-2);
      color: var(--white-0);
    }
    label.skills {
      background-color: transparent;
      color: var(--white-1);
      font-weight: 500;
      font-size: 15px;
    }
  }
  /* ============ SKILLS ============ */
  /* ============ ========= ============ */
  .skills-icons {
    fill: var(--white-2);
  }

  /* ============ FOOTER ============ */
  /* ============ ========= ============ */
  footer {
    box-shadow: 0 0 10px 0 var(--white-2);
    #footer-container {
      #made-by {
        .icons-made-by {
          fill: var(--color-dark-2);
        }
      }
    }
  }
  button.white-hover,
  a.white-hover {
    transition: box-shadow 0.3s ease-in-out;
  }
  button.white-hover:hover,
  a.white-hover:hover {
    box-shadow: 0 0 5px 0 var(--color-dark-2);
    transition: box-shadow 0.3s ease-in-out;
  }
}
