nav {
  width: 100%;
  height: $nav-height;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(15px);
  background-color: #0e0e0e50;
  z-index: 100;
  #nav-container {
    width: 100%;
    max-width: $width;
    margin-inline: $margin-inline;    
    @include respond-to(tablet) {
      max-width: $width-mobile;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.nav-buttons {
  border-radius: 8px;
  height: auto;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border- 0.25s;
  padding: 7px 15px;
  border-radius: $border-l;
  @include respond-to(tablet) {
    display: none;
  }
}
#cv-button {
  border-radius: $border-l;
  font-size: 1em;
  font-weight: 500;
  color: $black-1;
  background-color: $white-1;
}
#blog-button {
  border: 1px solid $white-1 ;
}
