footer.body {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: absolute;
  padding: 3rem;
  bottom: 0;
  #footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: $width;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
