@use '_variables.scss';
:root {
  // background: linear-gradient(45grad, #030303, $black-0);
  background: radial-gradient(ellipse 100% 2% at 50% 0%, variables.$main-0 1%, #000000 38%);
  color: variables.$white-0;
  min-height: 100vh;
}

html {
  font-family: 'Onest Variable', 'Gabarito Variable', 'Open Sans',
    'Helvetica Neue', sans-erif;
  letter-spacing: -0.0025rem;
  position: relative;
  font-weight: 200;
}
main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-inline: $margin-inline;
  padding-block: $nav-height 70px;
}
h1 {
  font-family: 'Black Crow Extra Light', 'Havelock Titling', 'Researcher',
    'Lexend Zetta Variable';
  letter-spacing: 0.2rem !important;
  font-size: 1.5rem;
  text-transform: uppercase;
  white-space: nowrap;
  width: max-content;
  
}
h2 {
  font-family: 'Articulat CF';
  font-size: 2rem;
  font-weight: 600;
  text-wrap: nowrap;
  display: block;
  @include variables.respond-to(mobile) {
    width: variables.$width-mobile;
    font-size: 1.7rem;
    text-align: center;
  }
}

h3 {
  font-family: 'Lexend Exa Variable', 'Gabarito Variable';
  font-size: 1.1rem;
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  text-wrap: wrap;
  // width: max-content;
  text-align: center;
  max-width: 600px;
}
h4 {
  font-family: 'Lexend Mega Variable', 'Gabarito Variable';
  font-size: 0.8rem;
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  text-wrap: wrap;
  width: max-content;
  text-align: center;
}


/* 
* INTERSECTION
*/ 
h5 {
  font-family: 'Lexend Mega Variable', 'Gabarito Variable';
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 350;
}
p {
  font-size: 0.9rem;
  line-height: 1.6;
  text-wrap: pretty;
  word-wrap: break-word;
}
label.icons-names {
  padding: 6px 12px;
  font-size: 13px;
}
hr {
  width: 100%;
  border: 0.5px solid variables.$white-2;
}
ol,
ul {
  list-style: none;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#suspense {
  background-color: variables.$black-0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*
*   SECTION MODELS
*/ 

section.model {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: variables.$gap-m;
  max-width: variables.$width-mini;
  @include variables.respond-to(mobile) {
    width: variables.$width-mobile;
    gap: variables.$gap-s;
  }
}
section.model-intersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: variables.$width-mini;
  gap: variables.$gap-m;
  margin-block: 200px;
}

/*
*   ANIMACION DE SCROLL
*/ 

@media (prefers-reduced-motion: no-preference) {
  section.model,
  section.model-intersection {
    animation: fade-in ease forwards;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 500px;
  }

  @keyframes fade-in {
    from {
      // scale: .8;
      opacity: 0;
      transform: translateY(400px);
      // transform: translateX(200px);
    }
    to {
      // scale: 1 ;
      opacity: 1;
      transform: translateY(0px);
      // transform: translateX(0px);
    }
  }
}

.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-elevation0,
.MuiAccordion-root,
.Mui-expanded,
.css-rmvv3r-MuiPaper-root-MuiAccordion-root {
  background-color: variables.$black-0 !important;
  color: variables.$white-2 !important;
  stroke: variables.$white-2 !important;
  border: 1px solid variables.$white-2 !important;
}


.icons-fill {
  fill: variables.$main-0;
}
.icons-stroke {
  stroke: variables.$main-0;
}


#inter4 {
  margin-bottom: 0px !important;
}


