$width: 1200px;
$width-mini: 1000px;
$margin-inline: 2rem;
/* COLORES */
$white-0: #ffffff;
$white-1: #d6d6d6;
$white-2: #7b7b7b;

$black-0: #000000;
$black-1: #101010;
$black-2: #2c2c2c;

$color-dark-0: #101012;
$color-dark-1: #17171c;
$color-dark-2: #31323e;

$color-light-0: #d5d4dc;
$color-light-1: #dddceb;
$color-blue-1: #1a1f22;

$orange-0: #ff892f;
$color-red-0: #337dec;

$color-calendly: #3362a3;
$color-youtube: #a33333;

$nav-height: 5rem;
/* BORDES */
$border-s: 4px;
$border-m: 10px;
$border-l: 30px;

@mixin gradient-color {
  background: linear-gradient(
    20deg,
    #efecec,
    #d0d0d0,
    #a88669,
    #ec8533,
    $orange-0
  );
}
@mixin gradient-color-special {
  background: linear-gradient(5deg, #ffffff, #e99a6c, $orange-0, $orange-0);
}
@mixin text-gradient-color {
  width: max-content;
  // text-transform: uppercase;
  @include gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin text-gradient-color-special {
  width: max-content;
  // text-transform: uppercase;
  @include gradient-color-special;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.special {
  // color: $orange-0;
  @include text-gradient-color-special;
}
