/* MAIN */
$width: 1200px;
$width-mini: 1000px;
$margin-inline: 2rem;
$nav-height: 4rem;

$width-mobile: 360px;
$margin-inline-mobile: 1rem;

/* BORDES */
$border-s: 4px;
$border-m: 10px;
$border-l: 30px;

/* GAP */
$gap-s: 1rem;
$gap-m: 1.5rem;

/* ICONOS */
$icons-s: 20px;
$icons-m: 23px;

/* COLORES */
$white-0: #ffffff;
$white-1: #d6d6d6;
$white-2: #444444;

$black-0: #020202;
$black-1: #101010;
$black-2: #2c2c2c;

$main-0: #0bf87a;
$main-1: #16d378;
$secondary-0: #33c4ec;

@mixin gradient-color {
  background: linear-gradient(
    5deg, $secondary-0, $main-0, $main-0
  );
}
@mixin gradient-color-special {
  background: linear-gradient(5deg, #ffffff, $secondary-0, $main-0, $main-0);
}
@mixin text-gradient-color {
  width: max-content;
  // text-transform: uppercase;
  @include gradient-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@mixin text-gradient-color-special {
  width: max-content;
  // text-transform: uppercase;
  @include gradient-color-special;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin card-styles {
  background-color: $black-1;
  box-shadow: 1px 2px 3px 1px #292c2b;
  border-radius: $border-m;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: 1024px) {
      @content;
    }
  }
}