$width: 1250px;
/* COLORES */
$white-0: #ffffff;
$white-1: #d6d6d6;
$white-2: #7b7b7b;

$black-0: #000000;
$black-1: #101010;
$black-2: #2c2c2c;

$color-dark-0: #101012;
$color-dark-1: #17171c;
$color-dark-2: #31323e;

$color-light-0: #d5d4dc;
$color-light-1: #dddceb;
$color-blue-1: #1a1f22;

$color-orange-0: #ec8533;
$color-red-0: #337dec;
  
$color-calendly: #3362a3;
$color-youtube: #a33333;

/* BORDES */
$border-s: 5px;
$border-m: 10px;
$border-l: 30px;
