* {
  /* border: .5px solid wheat; */
}

.card-project {
  width: 100%;
  border-radius: 20px;
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'header header'
    'img content'
    'img content'
    'img content';
  justify-content: center;
  align-content: center;
  padding: 10px 16px;
  .header-card-project {
    grid-area: header;
    height: max-content;
    text-align: left;
    display: flex;
    align-items: center;
    padding: 1rem 1.4rem;
    font-size: 1.8rem;
  }
  #img-card-project {
    grid-area: img;
    button:hover, a:hover {
      box-shadow: 0 0 15px 0 rgb(233, 181, 36);
    }
    .myProjectSwiper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 490px;
      border-radius: 10px;
      padding: 20px;
      z-index: 1;
      img {
        border-radius: 10px;
        height: 270px;
        object-fit: cover;
      }
    }
  }
}

.content-card-project {
  grid-area: content;
  padding: 15px 1.3rem;
  display: flex;
  flex-direction: column;
  width: 580px;
  p {
    font-size: 18px;
  }
  #labels-project {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 19px;
    #labels-container {
      display: flex;
      justify-content: space-between;
    }
  }
  #links-project {
    display: flex;
    align-self: center;
    justify-self: end;
    margin-top: auto;
    margin-bottom: 10px;
    gap: 30px;
    a {
      border-radius: 5px;
      padding: 5px 10px;
    }
  }
}
