div.hero {
  display: flex;
  flex-direction: column;
  margin-block: 100px 70px;
  align-items: center;
  width: $width;
  * {
    // border: 1px solid $white-1;
  }
}

header.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family: 'Articulat CF';
    font-size: 2.3rem;
    display: flex;
    font-weight: 600;
    text-align: center;
  }
}

section.hero.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 1px solid $white-1;
  div#video-vsl {
    background-color: #06060b;
    width: 800px;
    height: 400px;
    figure.video-container {
      width: 100%;
      height: 100%;
      iframe.video {
        width: 100%;
        height: 100%;
        background-color: red;
      }
    }
  }
  h4 {
    font-family: 'Articulat CF';
    font-size: 2rem;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 400;
    // font-style: oblique;
    text-align: center;
    // @include text-gradient-color;
  }
}
#mail:hover {
  transition: stroke 0.3s ease-in-out;
  .path-mail {
    stroke: $orange-0;
  }
}

footer.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: $width;
  width: 100%;
  height: 100px;
  margin-bottom: 130px;
  #arrow-down-icon {
    width: 80px;
  }
  #contact-btn {
    background-color: $orange-0;
    border: none;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: $black-1;
  }
}

.toasts-container {
  position: absolute;
  margin-right: auto;
  height: 85vh;
}
.toasts {
  background-color: white;
  // width: max-content;
}
