header.hero {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  margin-block: $nav-height 70px;
  align-items: center;
  width: $width;
  height: calc(100vh - $nav-height);

  * {
    // border: 1px solid $white-1;
  }

  div#hero-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  figure#video-vsl {
    background-color: #06060b;
    width: 700px;
    height: 350px;
    iframe.video {
      width: 100%;
      height: 100%;
    }
  }
  p.caption {
    font-family: 'Articulat CF Medium Oblique';
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
  }

  #mail:hover {
    transition: stroke 0.3s ease-in-out;
    .path-mail {
      stroke: $main-0;
    }
  }

  #contact-btn {
    // border: 1px solid $white-1;
    // @includes gradient-color;
    border-radius: 40px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: $black-1;
    @include gradient-color;
    // background-color: red;

  }
  #arrow-down-icon {
    width: 80px;
  }
}

.toasts-container {
  position: absolute;
  margin-right: auto;
  height: 85vh;
}
.toasts {
  background-color: white;
  // width: max-content;
}
