footer {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  #footer-container {
    width: 100%;
    max-width: $width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    margin-inline: 1rem;
  }
}
