input[type="checkbox"] {
  display: none; 
}
#dark-mode-toggle {
  display: inline-block;
  background-color: transparent !important;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.8s ease;
}
input[type="checkbox"]:checked + label {
  transform: rotate(360deg); 
}
