.dropdown {
  width: max-content;
  position: relative;
  padding: 0;
  height: auto;
  stroke: $color-light-1;
  color: $color-light-1;
}
.dropdown:hover {
  --rows: 1fr;
  --bg-dd: $color-light-1;
  --text-dd: $black-1;
  --border-dd: $color-dark-0;
  stroke: $black-1;
  color: $black-1;
}
.dd_head {
  padding: 1em 0.7em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  height: 40px;
  margin: 0;
  background-color: var(--bg-dd, transparent);
  border-radius: $border-s;
  border: 2px solid var(--border-dd, #ffffff00);
  transition: all 0.8s ease-in-out;
}
.dd_content {
  display: grid;
  grid-template-rows: var(--rows, 0fr);
  transition: 0.4s grid-template-rows ease-in-out;
  position: absolute;
  width: max-content;
  z-index: 3;
  right: 0px;
}
.dd_ul {
  overflow: hidden;
  background-color: var(--bg-dd, transparent);
  border-radius: $border-s;
  border: 2px solid var(--border-dd, #ffffff00);
  transition: all 0.8s ease-in-out;
}
.dd_li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  
  margin-left: auto;
  height: max-content;
}
#dd-line {
  border: 1px solid var(--border-dd, #ffffff00);
  width: 100%;
}
.dd_anchor {
  padding: 10px 15px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.dd_anchor:hover {
  background-color: #c7c7d0;
}
