section.space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: $width;
  width: 100%;
  height: 100px;
  margin-bottom: 130px;
  figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    hr {
      width: 70%;
    }
    #space-icon {
      width: 80px;
    }
  }
}