nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow-m);
  #nav-container {
    width: 100%;
    max-width: var(--width);
    padding-inline: 0.5rem;
  }
}
.myNavSwiper {
  height: 50px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    height: 100%;
  }
}
.nav-buttons {
  border-radius: 8px;
  height: 40px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.25s;
}
#cv-button {
  border-radius: 8px;
  padding: 0 1.2em;
  font-size: 1em;
  font-weight: 500;
}
#right-nav-container {
  
  #inter-button {
    padding: 0 1em;
  }
  #dark-mode-toggle {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + label {
    transform: rotate(360deg);
  }
  .nav-icons {
    width: 30px;
    height: 30px;
    stroke: var(--white-1);
  }
}
