div.social-links-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    .icons-fill {
      color: white;
      fill: $white-1;
    }
    #mail,
    #x {
      stroke: $white-1;
    }
    #whatsapp-icon {
      margin-block: auto;
    }
  }
  .icons {
    filter: drop-shadow(2px 2px 2px #000000);
  }
  .social-links:hover {
    transition: all 0.3s ease-in-out;
    .icons-fill {
      fill: $secondary-0;
      transition: fill 0.3s ease-in-out;
    }
    #x {
      path {
        stroke: $secondary-0;
        transition: stroke 0.3s ease-in-out;
      }
    }
  }
}
