@import '_variables.scss';
:root {
  background: linear-gradient(45grad, #221f1a, #221f1a, #111316, #111316);
  color: $white-1;
}
html {
  font-family: 'Onest Variable', 'Gabarito Variable', 'Open Sans',
    'Helvetica Neue', sans-serif;
  letter-spacing: -0.0025rem;
  position: relative;
  font-weight: 200;
}
h1 {
  font-family: 'Black Crow Extra Light', 'Havelock Titling', 'Researcher',
    'Lexend Zetta Variable';
  letter-spacing: 0.2rem !important;
  font-size: 2rem;
  // letter-spacing: 2px;
  font-weight: 400;
  // @include gradient-color;
  color: $orange-0;
  color: $white-0;
  text-transform: uppercase;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: center;
}
p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-wrap: pretty;
  word-wrap: break-word;
  padding-inline: auto;
}
p.caption {
  font-size: 0.9rem;
}
p.bold {
  font-size: 1.3rem;
  font-weight: 600;
}
label {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
}
hr {
  width: 50%;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#suspense {
  background-color: $color-dark-0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-icons {
  width: 50px;
  height: 80px;
}
section#model {
  max-width: $width;
  width: 100%;
  margin-inline: 1rem;
  margin-bottom: 200px;
  h3 {
    font-family: 'Lexend Exa Variable';
    font-size: 1.8rem;
    letter-spacing: -0.1rem !important;
    font-weight: 200;
    display: flex;
    margin-bottom: 20px;
    @include gradient-color;
  }
}

@media (prefers-reduced-motion: no-preference) {
  p {
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: -100px;
    animation-range-end: 500px;
  }

  @keyframes fade-in {
    from {
      // scale: .8;
      opacity: 0;
    }
    to {
      // scale: 1 ;
      opacity: 1;
    }
  }
}
