@import '_variables.scss';
:root {
  background: linear-gradient(
    45grad,
    #000000,
    #0a0a0a
  );
  color: $white-1;
}
html {
  font-family: 'Onest Variable', 'Gabarito Variable', 'Open Sans',
    'Helvetica Neue', sans-serif;
  letter-spacing: -0.0025rem;
  position: relative;
  font-weight: 200;
}
h1 {
  font-family: 'Black Crow Extra Light', 'Havelock Titling', 'Researcher',
    'Lexend Zetta Variable';
  letter-spacing: 0.15rem !important;
  font-size: 1.5rem;
  color: #bababa;
  text-transform: uppercase;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: center;
}
p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-wrap: pretty;
  word-wrap: break-word;
  padding-inline: auto;
}
p.caption {
  font-size: 0.9rem;
}
p.bold {
  font-size: 1.3rem;
  font-weight: 600;
}
label.icons-names {
  padding: 6px 12px;
  font-size: 13px;
}
hr {
  width: 50%;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#suspense {
  background-color: $color-dark-0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#skills-section {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
#skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    gap: 10px;
    .icons {
      height: 40px;
      width: max-content ;
      fill: $white-2;
    }
  }
}


section.model {
  max-width: $width;
  width: 100%;
  margin-inline: 1rem;
  margin-bottom: 200px;
  h3 {
    font-family: 'Lexend Exa Variable';
    font-size: 1.8rem;
    letter-spacing: -0.1rem !important;
    font-weight: 200;
    display: flex;
    // margin-bottom: 20px;
    @include text-gradient-color;
    // border: 1px solid red;
  }
}

@media (prefers-reduced-motion: no-preference) {
  section {
    animation: fade-in ease forwards;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 900px;
  }

  @keyframes fade-in {
    from {
      // scale: .8;
      opacity: 0;
      transform: translateY(200px);
    }
    to {
      // scale: 1 ;
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
