@import '_variables.scss';

html {
  font-family:
    'Onest Variable',
    'Gabarito Variable',
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  letter-spacing: -0.0025rem;
  position: relative;
  font-weight: 200;
}
h1 {
  font-family: 'Lexend Mega Variable';
  font-size: 2.2rem;
  /* text-shadow: 5px 5px 7px #8e5b31; */
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;

  /* color: transparent; */
  background: linear-gradient(20deg, #c6c6c6, #bababa, #775f4a, #ffa455, $color-orange-0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h3 {
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem ;
}


h5 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: center;
}
p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-wrap: pretty;
  word-wrap: break-word;
  padding-inline: auto;
}
p.caption {
  font-size: 0.9rem;
}
p.bold {
  font-size: 1.3rem;
  font-weight: 600;
}
label {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
}
hr {
  width: 50%;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
svg {
  padding: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

button.social-icons,
a.social-icons {
  border-radius: $border-s;
  transition: box-shadow 0.3s ease-in-out;
}
button.white-hover,
a.white-hover {
  transition: box-shadow 0.3s ease-in-out;
}
button.white-hover:hover,
a.white-hover:hover {
  box-shadow: 0 0 3px 0 white;
  transition: box-shadow 0.3s ease-in-out;
}
.icon-hover{
  filter: drop-shadow(1px 1px 1px #f87732);

}

#suspense {
  background-color: $color-dark-0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-icons {
  width: 50px;
  height: 80px;
}
section#model {
  max-width: $width;
  width: 100%;
  margin-inline: auto;
  margin-bottom: 200px;
}
