@import '_variables.scss';
:root {
  background: linear-gradient(45grad, #030303, #0e0e0e);
  color: $white-0;
}
html {
  font-family: 'Onest Variable', 'Gabarito Variable', 'Open Sans',
    'Helvetica Neue', sans-erif;
  letter-spacing: -0.0025rem;
  position: relative;
  font-weight: 200;
}
h1 {
  font-family: 'Black Crow Extra Light', 'Havelock Titling', 'Researcher',
    'Lexend Zetta Variable';
  letter-spacing: 0.2rem !important;
  font-size: 1.5rem;
  text-transform: uppercase;
}
h2 {
  font-family: 'Articulat CF';
  font-size: 2rem;
  display: flex;
  font-weight: 600;
  text-align: center;
}
span.special {
  // color: $orange-0;
  @include text-gradient-color-special;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: center;
}
p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-wrap: pretty;
  word-wrap: break-word;
  padding-inline: auto;
}
p.caption {
  font-size: 0.9rem;
}
p.bold {
  font-size: 1.3rem;
  font-weight: 600;
}
label.icons-names {
  padding: 6px 12px;
  font-size: 13px;
}
hr {
  width: 50%;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#suspense {
  background-color: $color-dark-0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#skills-section {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
#skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    gap: 10px;
    .icons {
      height: 40px;
      width: max-content;
      fill: $white-2;
    }
  }
}

section.model {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  max-width: $width-mini;
}
section.model-intersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $width-mini;
  width: 100%;
  gap: 7rem;
  margin-block: 90px;
  // border: 1px solid $white-2;
  * {
    // border: 1px solid red;
  }
}

@media (prefers-reduced-motion: no-preference) {
  section.model,
  section.model-intersection {
    animation: fade-in ease forwards;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 500px;
  }

  @keyframes fade-in {
    from {
      // scale: .8;
      opacity: 0;
      transform: translateY(400px);
      // transform: translateX(200px);
    }
    to {
      // scale: 1 ;
      opacity: 1;
      transform: translateY(0px);
      // transform: translateX(0px);
    }
  }
}

/**
* Calendly Badge
*/
.calendly-badge-content {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
  background-color: $black-1;
  border-radius: 40px;
}
.calendly-badge-content:after {
  content: '';
  position: absolute;
  height: 108%;
  width: 102%;
  z-index: -999;
  border-radius: 40px;
  @include gradient-color;
}


.MuiPaper-root, .MuiPaper-elevation, .MuiPaper-elevation0, .MuiAccordion-root, .Mui-expanded, .css-rmvv3r-MuiPaper-root-MuiAccordion-root {
  background-color: $black-0 !important;
  color: $white-2 !important;
  stroke: $white-2 !important;
  border: 1px solid $white-2 !important;
}
