html {
  font-family:
    'Gabarito Variable',
    'Onest Variable',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  letter-spacing: -0.0025rem;
  position: relative;
}
main {
  padding-bottom: 5rem;
  margin-inline: 1rem;
}
h1 {
  font-family: 'Cinzel Decorative';
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: var(--shadow-text-black);
  font-size: 1.9rem;
  letter-spacing: 5px;
  font-weight: 600;
}
h1.sec {
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
h2 {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  padding-inline: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2.title-section {
  padding: 10px;
}
h3 {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}
h3.calendly {
  font-family: 'Gilroy';
  font-size: 1.6rem;
  color: var(--color-calendly);
  border-radius: var(--border-m);
  padding: 5px;
}

h5 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-align: center;
}
p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-wrap: pretty;
  word-wrap: break-word;
  padding-inline: auto;
}
p.caption {
  font-size: 0.9rem;
}
p.bold {
  font-size: 1.3rem;
  font-weight: 600;
}
label {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
}
hr {
  width: 50%;
  margin: 0;
  border: 0.5px solid var(--white-1);
}
ol,
ul {
  list-style: none;
}
svg {
  padding: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
section {
  margin-inline: auto;
  width: 100%;
  max-width: var(--width);
  margin-block: 50px;
}
button.social-icons,
a.social-icons {
  border-radius: var(--border-s);
  transition: box-shadow 0.3s ease-in-out;
}

button.white-hover,
a.white-hover {
  transition: box-shadow 0.3s ease-in-out;
}
button.white-hover:hover,
a.white-hover:hover {
  box-shadow: 0 0 5px 0 white;
  transition: box-shadow 0.3s ease-in-out;
}
