@import '_variables.scss';
:root {
  background: linear-gradient(45grad, #030303, #0e0e0e);
  color: $white-0;
}
html {
  font-family: 'Onest Variable', 'Gabarito Variable', 'Open Sans',
    'Helvetica Neue', sans-erif;
  letter-spacing: -0.0025rem;
  position: relative;
  font-weight: 200;
}
h1 {
  font-family: 'Black Crow Extra Light', 'Havelock Titling', 'Researcher',
    'Lexend Zetta Variable';
  letter-spacing: 0.2rem !important;
  font-size: 1.5rem;
  text-transform: uppercase;
}
h2 {
  font-family: 'Articulat CF';
  font-size: 2rem;
  display: flex;
  font-weight: 600;
  text-align: center;
}
h2.caption {
  font-size: 1.2rem;
  font-weight: 300;
  text-wrap: wrap;
  width: max-content;
  text-align: center;
  max-width: 600px;
}
// h3 {
//   font-family: 'Articulat CF';
//   font-size: 1.5rem;
//   display: flex;
//   font-weight: 600;
//   text-align: center;
// }
// 
h3 {
  font-family: 'Lexend Exa Variable', 'Gabarito Variable';
  font-size: 1.1rem;
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  text-wrap: wrap;
  width: max-content;
  text-align: center;
  max-width: 600px;
}
h4 {
  font-family: 'Lexend Mega Variable', 'Gabarito Variable';
  font-size: 0.8rem;
  display: flex;
  font-weight: 500;
  text-transform: uppercase;
  text-wrap: wrap;
  width: max-content;
  text-align: center;
}
span.special {
  // color: $orange-0;
  @include text-gradient-color-special;
}

h5 {
  font-family: 'Lexend Mega Variable', 'Gabarito Variable';
  text-transform: uppercase;
  // font-style: italic;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
}
p {
  font-size: 0.9rem;
  line-height: 1.6;
  text-wrap: pretty;
  word-wrap: break-word;
  padding-inline: auto;
}
label.icons-names {
  padding: 6px 12px;
  font-size: 13px;
}
hr {
  width: 100%;
  border: 0.5px solid $white-2;
}
ol,
ul {
  list-style: none;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

#suspense {
  background-color: $color-dark-0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#skills-section {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
#skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    gap: 10px;
    .icons {
      height: 40px;
      width: max-content;
      fill: $white-2;
    }
  }
}


/*
*   SECTION MODELS
*/ 

section.model {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  max-width: $width-mini;
}
section.model-intersection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: $width-mini;
  width: 100%;
  gap: 2rem;
  margin-block: 200px;
}

/*
*   ANIMACION DE SCROLL
*/ 

@media (prefers-reduced-motion: no-preference) {
  section.model,
  section.model-intersection {
    animation: fade-in ease forwards;
    animation-timeline: view();
    animation-range-start: 0px;
    animation-range-end: 500px;
  }

  @keyframes fade-in {
    from {
      // scale: .8;
      opacity: 0;
      transform: translateY(400px);
      // transform: translateX(200px);
    }
    to {
      // scale: 1 ;
      opacity: 1;
      transform: translateY(0px);
      // transform: translateX(0px);
    }
  }
}

.MuiPaper-root,
.MuiPaper-elevation,
.MuiPaper-elevation0,
.MuiAccordion-root,
.Mui-expanded,
.css-rmvv3r-MuiPaper-root-MuiAccordion-root {
  background-color: $black-0 !important;
  color: $white-2 !important;
  stroke: $white-2 !important;
  border: 1px solid $white-2 !important;
}

.icons-fill {
  fill: $main-0;
}
.icons-stroke {
  stroke: $main-0;
}

section.model-intersection {
  // border: 1px solid white;
}

#inter4 {
  margin-bottom: 0px !important;
}