ul#claves-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $gap-m;
  @include respond-to(mobile) {
    grid-template-columns: repeat(1, 1fr);
    gap: $gap-s;
  }

  article.claves-card {
    @include card-styles;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1.5rem;
    height: 250px;
    @include respond-to(mobile) {
      height: max-content;
      padding: 1rem;
    }
    header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include respond-to(mobile) {
        flex-direction: row;
        align-items: center;
      }
      .icons {
        width: 4rem;
        height: 4rem;
        stroke: $main-0;
        @include respond-to(mobile) {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
