section#equipo {
  display: flex;
  flex-direction: column;
  gap: $gap-m;
}

ul.equipo-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: $gap-m;
  @include respond-to(mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}

article.equipo-card {
  display: flex;
  flex-direction: column;
  gap: $gap-s;
  padding: $gap-m;
  @include card-styles;
  @include respond-to(mobile) {
    padding: $gap-s;
  }

  figure {
    height: 200px;
    background-color: #645e5e;
    border-radius: 1rem;
  }
  header {
    display: flex;
    align-items: baseline;
    gap: $gap-s;
    .label{
      font-size: 0.8rem !important;
    }
  }
}
