section#equipo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  * {
    // border: 1px solid white;
  }
}

ul.equipo-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

article.equipo-card {
  border: 0.5px solid #141414;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background-color: $black-1;

  figure {
    height: 200px;
    background-color: rgb(100, 94, 94);
    border-radius: 1rem;
  }
  header {
    display: flex;
    gap: 0.5rem;
  }
}
