ul#claves-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  article.claves-card {
    @include card-styles;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1.5rem;
    height: 250px;
    .icons {
      width: 4rem;
      height: 4rem;
      stroke: $main-0;
    }
  }
}
