@import url('./reset/reset.css');
@import url('./init.css');
@import url('./comp-hero.css');
@import url('./comp-space.css');
@import url('./comp-navbar.css');
@import url('./comp-projects.css');
@import url('./comp-footer.css');
@import url('./comp-language.css');
@import url('./themes/dark-theme.css');
@import url('./themes/light-theme.css');
:root {
  --width: 1100px;

  /* COLORS */
  --white-0: #ffffff;
  --white-1: #d6d6d6;
  --white-2: #7b7b7b;

  --black-0: #000000;
  --black-1: #101010;
  --black-2: #2c2c2c;

  --color-dark-0: #101012;
  --color-dark-1: #17171c;
  --color-dark-2: #31323e;

  --color-light-0: #d5d4dc;
  --color-light-1: rgb(221, 220, 235);

  --color-calendly: #3362a3;
  --color-youtube: #a33333;

  /* BORDERS */
  --border-s: 5px;
  --border-m: 10px;
  --border-l: 30px;

  /* SHADOWS */
  --shadow-s: 0 0 10px 0 var(--white-2);
  --shadow-m: 0 0 20px 0.5px var(--color-main-1);
  --shadow-text-black: 0 0 10px #616161;

  transition: all 0.5s ease-in-out;
}

* {
  /* border: 0.5px solid #ffffff; */
}


.skills-icons {
  width: 50px;
  height: 80px;
}
