@import url('./reset/reset.css');
@import url('./init.css');
@import url('./comp-hero.css');
@import url('./comp-navbar.css');
@import url('./comp-projects.css');
@import url('./comp-footer.css');
@import url('./themes/dark-theme.css');
@import url('./themes/light-theme.css');
:root {
  --width: 1100px;

  /* COLORS */
  --white-0: #ffffff;
  --white-1: #d6d6d6;
  --white-2: #7b7b7b;

  --black-0: #000000;
  --black-1: #101010;
  --black-2: #2c2c2c;

  --color-dark-0: #101012;
  --color-dark-1: #17171c;
  --color-dark-2: #31323e;

  --color-main-0: #080811;
  --color-main-1: #31323e;

  --color-light-0: #c6c5cf;
  --color-light-1: #9d9ca4;

  --color-main-light-0: #b8b8be;
  --color-main-light-1: #69696a;

  --color-sec-0: #e09545;

  --color-thr-0: #a2a4a9;

  --color-calendly: #3362a3;
  --color-youtube: #a33333;
  --color-matrix: #398741;

  /* BORDERS */
  --border-s: 5px;
  --border-m: 10px;
  --border-l: 30px;

  /* SHADOWS */
  --shadow-s: 0 0 10px 0 var(--white-2);
  --shadow-m: 0 0 20px 0.5px var(--color-main-1);
  --shadow-text-black: 0 0 10px #616161;

  transition: all 0.5s ease-in-out;
}

* {
  /* border: 0.5px solid #ffffff; */
}

#working {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  background-color: #22222289;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: flex-start;
  padding-top: 300px;
  align-items: center;
  z-index: 3;
}

.hover-1:hover {
  background-color: var(--color-light-0);
  color: var(--color-dark-0);
  box-shadow: 0 0 10px 0 #aaaaaac7;
  transition: all 0.5s ease-in-out;
}

.skills-icons {
  fill: var(--color-light-1);
  width: 50px;
  height: 80px;
}
